@import './base/variables';
@import './base/base';
@import './components/button';
@import './components/form';
@import './components/header';
@import './components/inputs';
@import './components/navheader';
@import './components/itemfooter';
@import './components/itemvote';
@import './components/posts_and_comments';
@import './components/sortingheader';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
