.item-vote {
  font-size: 20px;
  margin-right: 10px;
  button {
    color: $blue;
    display: block;
    font-size: 20px;
    text-align: center;
    &:first-of-type {
      margin-bottom: -5px;
    }
    &:last-of-type {
      margin-top: -5px;
    }
  }
  div {
    font-weight: bold;
    text-align: center;
  }
}
